.button {
  font-family: var(--font-aeonik);
  font-size: var(--size-body);
  border-radius: 0.4vw;
  border: none;
  padding: 1em 1.15em 1em 3.65em;
  text-decoration: none;
  display: inline-block;
  margin: 1em 0;
  background-color: var(--color-fuchsia);
  color: var(--color-morpho-teal);
  transition: background-color 0.3s ease;
  position: relative;
}
@media (max-width: 640px) {
  .button {
    border-radius:.25em;
    padding: .6em .5em .6em 1.5em;
  }
}
.button:before {
  content: '';
  position: absolute;
  left: 1em;
  top: 0;
  width: 1.1em;
  height: 100%;
  mask-image: var(--arrow);
  mask-size: contain;
  mask-repeat: no-repeat; 
  mask-position: left 50%;
  background-color: var(--color-morpho-teal);
}
@media (max-width: 640px) {
  .button:before {
    left: .4em;
    width: 0.8em;
  }
}
.button__fuchsia {
  background-color: var(--color-fuchsia);
  color: var(--color-morpho-teal);
}
.button:hover, .button__fuchsia:hover {
  background-color: var(--color-lichen);
}
.button__lichen {
  background-color: var(--color-lichen);
  color: var(--color-morpho-teal);
}
.button__lichen:hover {
  background-color: var(--color-mineral-white);
}
.button__morphoTeal {
  background-color: var(--color-morpho-teal);
  color: var(--color-mineral-white);
}
.button__morphoTeal:before {
  background-color: var(--color-mineral-white);
}
.button__morphoTeal:hover:before {
  background-color: var(--color-morpho-teal);
}
.button__morphoTeal:hover {
  background-color: var(--color-mineral-white);
  color: var(--color-morpho-teal);
}
.button__mini {
  font-size: 0.9vw;
  position: relative;
  padding: .8em 3.15em .8em 1.15em;
}
@media (max-width: 640px) {
  .button__mini {
    font-size: 0.9em;
    border-radius:.25em;
    padding: .6em 1.5em .6em .5em;
  }
}
.button__mini:before {
  left: auto;
  right: .5em;
  top: 0;
  width: 1.75em;
  mask-position: 50% 50%;
  transform: rotate(-45deg);
  margin-left: 1em;
}
@media (max-width: 640px) {
  .button__mini:before {
    right: .4em;
    width: 0.8em;
  }
}