.button {
  font-family: var(--font-aeonik);
  font-size: var(--size-body);
  border-radius: 0.4vw;
  border: none;
  padding: 1em 1.15em;
  text-decoration: none;
  display: inline-block;
  margin: 1em 0;
  background-color: var(--color-fuchsia);
  color: var(--color-morpho-teal);
  transition: background-color 0.3s ease;
}
.button:before {
  content: '';
  display: inline-block;
  width: 1.1em;
  height: 1em;
  background-image: var(--arrow);
  background-size: contain;
  background-repeat: no-repeat; 
  background-position: left 50%;
  position: relative;
  top: 0.1em;
  margin-right: 1.5em;
}
.button__fuchsia {
  background-color: var(--color-fuchsia);
  color: var(--color-morpho-teal);
}
.button:hover, .button__fuchsia:hover {
  background-color: var(--color-lichen);
}
.button__lichen {
  background-color: var(--color-lichen);
  color: var(--color-morpho-teal);
}
.button__lichen:hover {
  background-color: var(--color-mineral-white);
}
.button__morphoTeal {
  background-color: var(--color-morpho-teal);
  color: var(--color-mineral-white);
}
.button__morphoTeal:before {
  background-image: var(--arrow-white);
}
.button__morphoTeal:hover:before {
  background-image: var(--arrow);
}
.button__morphoTeal:hover {
  background-color: var(--color-mineral-white);
  color: var(--color-morpho-teal);
}
.button__mini {
  font-size: 0.9vw;
}

@media (max-width: 640px) {
  .button__mini {
    font-size: 1em
  }
}