.enzyme {
  position: relative;
  width: 11.7vw;
  height: 23.4vw;
}
@media (max-width: 640px) {
  .enzyme {
     width: 22.6vw;
    height: 45.2vw;
  }
}
.spacer {
  height: var(--height-m, 0);
  margin-bottom: var(--marginBottom-m, 0);
  @media (min-width: 640.1px) {
    height: var(--height-d, 0);
    margin-bottom: var(--marginBottom-d, 0);
  }
}
.spacerSmall {
  height: var(--height-m, var(--spacing-s));
  @media (min-width: 640.1px) {
    height: var(--height-d, var(--spacing-s));
  }
}
.spacerMedium {
  height: var(--height-m, var(--spacing-col));
  @media (min-width: 640.1px) {
    height: var(--height-d, var(--spacing-col));
  }
}
.spacerLarge {
  height: var(--height-m, var(--spacing-h1));
  @media (min-width: 640.1px) {
    height: var(--height-d, var(--spacing-h1));
  }
}
.enzymeCenterAligned {
  margin-left: auto;
  margin-right: auto;
}
.enzymeRightAligned {
  margin-left: auto;
}
@media (min-width: 640.1px) {
  .cols2 {
    width: 100%;
    display: flex;
    gap: 2em;
    
    & > div {
      flex: 0 0 calc(50% - 1em);
    }
  }
}
.customImage {
  width: var(--width-d, 100%);
  height: var(--height-d, auto);
  position: relative;
  margin: 0 0 calc( 0.5 * var(--spacing-col)) 0;

  &.customImageCenterAligned {
    margin-left: auto;
    margin-right: auto;
  }
  &.customImageRightAligned {
    margin-left: auto;
    margin-right: 0;
  }

  & img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: left;
    display: block;
  }
}
.customImage_caption {
  font-size: var(--size-s);
  padding: 1em 0;
}
@media (max-width: 640px) {
  .customImage {
    width: var(--width-m, 100%);
    height: var(--height-m, auto);
  }
}
.inlineFormat {
  display: inline-block;
  margin-block-start: 1em;
  margin-block-end: 1em;
}