.enzyme {
  position: relative;
  width: 11.7vw;
  height: 23.4vw;
}
@media (max-width: 640px) {
  .enzyme {
     width: 22.6vw;
    height: 45.2vw;
  }
}
.spacerSmall {
  height: var(--spacing-s);
}
.spacerMedium {
  height: var(--spacing-col);
}
.spacerLarge {
  height: var(--size-h1);
}