.enzyme {
  position: relative;
  width: 150px;
  height: 300px;
}
.spacerSmall {
  height: var(--spacing-s);
}
.spacerMedium {
  height: var(--spacing-col);
}
.spacerLarge {
  height: var(--size-h1);
}