:root {
  --color-earth-gray: #7B766E;
  --color-morpho-teal: #00394C;
  --color-mineral-white: #FFFBF3;
  --color-lichen: #FBFF3E;
  --color-fuchsia: #E681FF;
  --color-beatle: #340E32;
  --color-amber: #CA8F1B;
  --size-h1: 11.25vw;
  --size-h2: 6.95vw;
  --size-h3: 4.29vw;
  --size-subhead: 2.65vw;
  --size-body: 1.64vw;
  --size-s: 1.17vw;
  --size-xs: 0.78vw;
  --spacing-s: 1.875vw;
  --spacing-col: 6.015625vw;

  --arrow: url("data:image/svg+xml,%3Csvg width='23' height='20' viewBox='0 0 23 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.069 8.87249C16.8253 8.87249 17.2058 7.958 16.6709 7.42316L11.7889 2.54108L13.4786 0.851377L19.6252 6.99796C21.2829 8.65573 21.2829 11.3435 19.6252 13.0013L13.4786 19.1479L11.7889 17.4582L16.6697 12.5773C17.2046 12.0425 16.8258 11.128 16.0694 11.128H1.47942C1.25425 11.128 1.0383 11.0385 0.879084 10.8793L0.600346 10.6006C0.268791 10.269 0.268791 9.73145 0.600345 9.3999L0.879084 9.12116C1.0383 8.96194 1.25627 8.87249 1.48144 8.87249C7.19376 8.87249 10.7572 8.87249 16.069 8.87249Z' fill='%2300394C'/%3E%3C/svg%3E%0A");
}

@media (max-width: 640px) {
 :root {
  --size-h1: 14vw;
  --size-h2: 10vw;
  --size-h3: 8vw;
  --size-subhead: 6.5vw;
  --size-body: 5.2vw;
  --size-s: 3vw;
  --size-xs: 2vw;
  --spacing-s: 5vw;
  --spacing-col: 11.25vw;
  --heroTopSpace: calc(2 * var(--size-h1) + 2 * var(--spacing-s));
  --scroll-behavior: smooth;
 } 
}

html, body {
  margin: 0;
  padding: 0;
  color: var(--color-morpho-teal);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

/* Maybe look for a better way to check if we're in TinaCMS */
body.__tina-quick-editing-enabled:before {
  content: "";
  position: fixed;
  z-index: 999999;
  pointer-events: none;
  top: 0;
  left: var(--spacing-s);
  right: 0;
  height: 100vh;
  margin: 0;
  padding: 0;
  opacity: 0.8;
  background-size: var(--spacing-col) 20px;
  background-image:  repeating-linear-gradient(to right, #FF0000, #FF0000 1px, transparent 1px, transparent);
}
/* body.__tina-quick-editing-enabled {
  & #contentWrapper {
    position: relative;
    height: auto;
  }
} */
main {
  font-family: var(--font-aeonik);
  font-feature-settings: 'ss01' on, 'ss04' on, 'ss06' on, 'ss07' on;
}
#smooth-content {
  will-change: transform !important;
  width: 100vw!important;
  overflow-x: hidden;
}
p, li, input, textarea, button, td, th, label, select, option {
  font-family: var(--font-aeonik);
  font-size: var(--size-body);
  letter-spacing: -0.03em;
  line-height: 1.2;
}
p a,
li a,
td a,
h1 a, h2 a, h3 a, h4 a, h5 a {
  color: inherit;
  text-decoration: underline;
  text-underline-offset: .2em;
  text-decoration-thickness: .05em;
}
h4 a {
  text-decoration: none;
}
ul, ol {
  padding: 0 0 0 3em;
  margin-top: .5em;
  box-sizing: border-box;
}
li {
  margin-bottom: .5em;
}
li > ul {
  padding: 0 0 0 1em;
}
table {
  border-collapse: collapse;
  width: 100%;
}
tr:first-child {
  border-bottom: 2px solid var(--color-morpho-teal);
}
td {
  font-size: 1em;
  padding: 0.5em 1em 0.5em 0;
}
h1, h2, h3, h4, h5 {
  font-family: var(--font-haben);
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.05em;
  line-height: .9;
  margin-bottom: .5em;
}
h1 {
  font-size: var(--size-h1);
  margin-bottom: .33em;
}
h2 {
  font-size: var(--size-h2);
}
h3 {
  font-size: var(--size-h3);
}
h4 {
  font-size: var(--size-subhead);
  font-family: var(--font-aeonik);
  letter-spacing: -0.03em;
  line-height: 1;
  font-feature-settings: 'liga', 'kern', 'ss07' on, 'ss04' on, 'ss06' on, 'ss01' on;
}
h5 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: var(--size-xs);
  letter-spacing: 0;
}
@media (max-width: 640px) {
  h4 {
    line-height: 1.2;
  }
}
p + h2 {
  margin-top: 1em;
}
h4 + h1 {
  margin-top: .25em;
}
h4 + h2 {
  margin-top: .5em;
}
h4 + h4 {
  margin-top: 0;
}
input[type="checkbox"] {
  width: 1em;
  height: 1em;
  font-size: 1em;
  padding: 1em;
  border: 1px solid var(--color-morpho-teal);
  border-radius: 5px;
  background-color: var(--color-mineral-white);
  -webkit-appearance: none ;
}
input[type="checkbox"]:checked {
  background-position: center;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='11' viewBox='0 0 15 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.1612 1.45082L5.97069 9.64137C5.18964 10.4224 3.92331 10.4224 3.14227 9.64137L0.523438 7.02254L1.96791 5.57807L4.55648 8.16664L12.7168 0.00634766L14.1612 1.45082Z' fill='%2300394C'/%3E%3C/svg%3E%0A");
}
/* @media (max-width: 640px) {
  #contentWrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100svh;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
} */
/* Stupid smooth-scroll visual but creates gaps, and even the will-change CSS setting doesn't seem to help, so we do this: */
#contentWrapper > div, #contentWrapper > section {
  margin-top: -0.5px;
}
@media (min-width: 641px) {
  .hideOnDesktop {
    display: none;
  }
}
@media (max-width: 640px) {
  .hideOnMobile {
    display: none;
  }
  .mainNavHoverCircleGroup {
    display: none!important;
  }
}