.contentTextAndImage {
  overflow: auto;
  position: relative;
}
.bg__mineralWhite {
  background-color: var(--color-mineral-white);
}
.bg__earthGray {
  background-color: var(--color-earth-gray);
}
.bg__beatle {
  background-color: var(--color-beatle);
  color: var(--color-fuchsia);
}
.bg__beatle p {
  color: var(--color-mineral-white);

}
.contentTextAndImage .content {
  position: relative;
  z-index: 1;
  padding: var(--size-h1) 0 var(--size-h1) calc(var(--spacing-col) + var(--spacing-s));
  width: calc( 10 * var(--spacing-col) );
}
.contentTextAndImage .content > :first-child {
  margin-top: 0;
}
.contentTextAndImage .content p {
  max-width: calc( 5 * var(--spacing-col));
}
.contentTextAndImage .image {
  position: absolute;
  top: var(--size-h1);
  right: 0;
  width: calc(var(--spacing-col) * 7 + var(--spacing-s));
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 var(--size-h1) 0;
  border-radius: 6px 0 0 6px;
  z-index: 0;
  overflow: hidden;
}
.contentTextAndImage .image img {
  object-fit: cover;
  object-position: center;
}
.imageRightWithGap .image {
  right: calc(var(--spacing-s) + var(--spacing-col));
  border-radius: 6px;
}

.imageLeftBorder {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
}
.imageLeftBorder .content {
  padding: 0 calc(var(--spacing-col) + var(--spacing-s)) 0 var(--size-h1);
}
.imageLeftBorder .image {
  position: relative;
  top: auto;
  right: auto;
  left: 0;
  margin: 0;
  padding: 0;
  border-radius: 0 6px 0 0;
  flex: 0 0 calc(var(--spacing-s) + 7 * var(--spacing-col));
}