.contentFullSizeImgBg {
  position: relative;
  overflow: auto;
  padding: var(--size-h1) calc(var(--spacing-s) + var(--spacing-col) );
}
.backgroundImage {
  object-fit: cover;
  z-index: -1;
}
.content h1, .content h2, .content h3 {
  color: var(--color-lichen);
  max-width: 7em;
}
.content h4 {
  color: var(--color-mineral-white);
  max-width: 29em;
}
.content ul,
.content ol,
.content li, 
.content p {
  color: var(--color-mineral-white);
  max-width: 15em;
}
.content h4 + h1 {
  margin-top: 0;
}
.button {
  position: absolute;
  bottom: var(--size-h1);
  right: calc(var(--spacing-s) + var(--spacing-col));
}