@media (max-width: 640px) {
  .heroHome {
    background-color: var(--color-mineral-white);
    overflow: hidden;
    position: relative;
    /* min-height: 400vh; */
  }
  .heroHomeInside {
    opacity: 0;
    visibility: hidden; 
    /* Will be made visible by JS */
  }
  .heroHeadline {
    font-size: var(--size-h1);
    color: #CBECC1;
    margin: 0 var(--spacing-s);
    position: relative;
  }
  .heroHeadlineEyebrow {
    display: block;
    text-align: left;
    font-size: var(--size-h3);
    letter-spacing: -0.05em;
    margin-bottom: .4em;
    mix-blend-mode: normal;
  }
  .heroSubhead {
    position: relative;
    font-size: var(--size-subhead);
    color: var(--color-morpho-teal);
    width: var(100% - 2 * var(--spacing-s));
    margin: 0 var(--spacing-s);
  }
  .shape {
    display: block;
    margin: 0 auto;
    width: 100%;
    /* margin-bottom: 50vh; */
  }
  .shape path {
    width: 100%;
  }
  .shape1 {
    height: 4vw;
  }
  .shape2 {
    height: 17vw;
  }
  .shape3 {
    height: 70vw;
  }
  .shapecontainer {
    width: 100vw;
    overflow: hidden;
  }
  .shape4 {
    width: 125vw;
    height: auto;
    margin-left: -12.5vw;
  }
  .heroContentWrapper {
    min-height: 100vh;
    width: 100%;
    padding-top: calc( 2 * var(--size-h1));
  }
  .heroContent {
    padding: var(--spacing-s);
  }
  .heroContent h4 {
    color: var(--color-fuchsia);
    font-size: var(--size-subhead);
    margin: 0;
  }
  .heroContent h4 + h2 {
    margin-top: 0.25em;
  }
  .heroContent h2 {
    color: var(--color-mineral-white);
    font-size: var(--size-h2);
    margin-bottom: 0.5em;
  }
  .heroContent p {
    color: var(--color-mineral-white);
  }
}

@media (min-width: 641px) {
  .heroHome {
    background-color: var(--color-mineral-white);
    overflow: hidden;
    position: relative;
  }
  .heroHomeInside {
    opacity: 0;
    visibility: hidden; 
    /* Will be made visible by JS */
  }
  .heroHeadline {
    text-align: center;
    font-size: var(--size-h1);
    color: #CBECC1;
    margin: 0;
    position: relative;
  }
  .heroHeadlineEyebrow {
    display: block;
    text-align: center;
    font-size: var(--size-h3);
    letter-spacing: -0.05em;
    margin-bottom: .15em;
    mix-blend-mode: normal;
  }
  .heroSubhead {
    text-align: center;
    font-size: var(--size-subhead);
    color: var(--color-morpho-teal);
    width: 100%;
    padding: 0 calc( 5 * var(--spacing-col) );
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
    z-index: 102;
  }
  .shape {
    display: block;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 50vh;
  }
  .shape path {
    width: 100%;
  }
  .shape1 {
    height: 1.56vw;
  }
  .shape2 {
    height: 6.48vw;
  }
  .shape3 {
    height: 26.4vw;
  }
  .shapecontainer {
    width: 100vw;
    overflow: hidden;
  }
  .shape4 {
    height: auto;
    width: 80vw;
    margin-left: 10vw;
  }
  .heroContentWrapper {
    display: flex;
    height: 100vh;
    align-items: center;
    width: 100%;
  }
  .heroContentContent {
    display: flex;
    padding-top: var(--size-subhead);
  }
  .heroContent {
    flex: 0 0 calc(50% - 2 * var(--spacing-s));
    gap: var(--spacing-s);
    padding: var(--spacing-s);
  }
  .heroContent h4 {
    color: var(--color-fuchsia);
    font-size: var(--size-subhead);
    margin: 0;
  }
  .heroContent h4 + h2 {
    margin-top: 0.25em;
  }
  .heroContent h2 {
    color: var(--color-mineral-white);
    font-size: var(--size-h2);
    margin-bottom: 0.5em;
  }
  .heroContent p {
    color: var(--color-mineral-white);
    max-width: 20em;
  }
  .heroContent :last-child {
    margin-bottom: 0;
  }
  .heroContent2 {
    margin-top: calc( 1.2 * var(--size-subhead));
  }
}