@media (max-width: 640px) {
  .homeFounders {
    background-color: var(--color-earth-gray);
    overflow: hidden;
    color: var(--color-mineral-white);
    padding: var(--size-h1) var(--spacing-s);
    position: relative;
  }
  .intro {
    max-width: calc(10 * var(--spacing-col));
  }
  .intro h4 {
    max-width: calc(6 * var(--spacing-col));
  }
  .quote {
    color: var(--color-lichen);
    max-width: calc(12 * var(--spacing-col));
    font-size: var(--size-h3);
    margin: 2.5em 0;
  }
  .founders {
    position: relative;
    left: calc(-1 * var(--spacing-s));
    width: 100vw;
    overflow: hidden;
  }
  .founder {
    width: calc(7 * var(--spacing-col));
    position: relative;
    margin: auto;
  }
  .founderImage {
    width: 100%;
    height: calc(7 * var(--spacing-col));
    position: relative;
    margin-bottom: var(--size-body);
  }
  .founderInfo sub {
    vertical-align: baseline;
    font-size: 0.7em;
    margin-left: .33em;
  }
  .founderInfo__name {
    margin: 0;
    font-size: var(--size-h3);
  }
  .founderInfo__jobTitle {
    color: var(--color-lichen);
    margin: 0;
  }
  .signoff {
    margin: calc( 2 * var(--size-h1)) 0;
  }
  .signoff__text {
    max-width: calc(9 * var(--spacing-col));
  }
  .signoff__text :last-child {
    margin-bottom: 0;
  }
  .signoff__button {
    margin-bottom: .33em;
  }
  .expandableContent .expandableContent_text{
    overflow: hidden;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .expandableContent_buttons {
    display: flex;
    gap: 1em;

    & :global( > span > a),
    & .expandableContent_toggle {
      line-height: 1.15;
    }
  }
  .expandableContent_toggle {
    font-family: var(--font-aeonik);
    font-size: var(--size-body);
    font-weight: 400;
    border-radius: 0.25em;
    border: none;
    padding: .6em .9em;
    text-decoration: none;
    display: inline-block;
    background-color: var(--color-lichen);
    color: transparent;
    transition: background-color 0.3s ease;
    position: relative;
    cursor: pointer;
    margin: 1em 0;

    &:hover {
      background-color: var(--color-mineral-white);
    }

    &:after {
      position: absolute;
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='35' height='35' fill='none' viewBox='0 0 35 35'%3E%3Cpath stroke='%2300394C' stroke-width='3.6' d='M17.286 34.538v-12.68a4.32 4.32 0 0 1 4.32-4.32h12.68M17.286.538v12.68a4.32 4.32 0 0 1-4.32 4.32H.286'/%3E%3C/svg%3E");
      width: 35px;
      height: 35px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    &.expandableContent_toggle__expanded {
      background-color: var(--color-mineral-white);

      &:after {
        content: url("data:image/svg+xml,%3Csvg width='35' height='35' viewBox='0 0 35 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M29.2617 17.5H17.5419H5.73793' stroke='%2300394C' stroke-width='2.5'/%3E%3C/svg%3E%0A");;
        color: black;
        font-size: 35px;
      }
    }
  }
  .expandableContent_cta {
    transform: translateX(0);
    max-width: 100%;
    overflow: hidden;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);

    & :global( a ) {
      text-wrap: nowrap;
    }
  }
  .expandableContent_cta__hidden {
    transform: translateX(0%);
    max-width: 0%;
  }
}

@media (min-width: 641px) {
  .homeFounders {
    background-color: var(--color-earth-gray);
    overflow: auto;
    color: var(--color-mineral-white);
    padding: var(--size-h1) calc(var(--spacing-s) + var(--spacing-col));
  }
  .intro {
    max-width: calc(10 * var(--spacing-col));
  }
  .intro h4 {
    max-width: calc(6 * var(--spacing-col));
  }
  .quote {
    color: var(--color-lichen);
    max-width: calc(12 * var(--spacing-col));
    margin: 1.5em 0;
  }
  .founders {
    position: relative;
    margin-top: calc( 1.75 * var(--size-h1) );
  }
  .founder {
    width: calc(6 * var(--spacing-col));
    position: relative;
  }
  .founder:first-child {
    margin-top: var(--size-h1);
    margin-left: calc(1.5 * var(--spacing-col));
    position: relative;
    z-index: 0;
  }
  .founder:last-child {
    position: absolute;
    left: calc(6 * var(--spacing-col));
    top: calc( -1.25 * var(--size-h1) );
    z-index: 1;
  }
  .founderImage {
    width: 100%;
    height: calc(6 * var(--spacing-col));
    position: relative;
    margin-bottom: var(--size-body);
  }
  .founder:last-child .founderInfo,
  .founder:last-child .expandableContent {
    margin-left: calc(1.5 * var(--spacing-col));
  }
  .founderInfo sub {
    vertical-align: baseline;
    font-size: 0.7em;
    margin-left: .33em;
  }
  .founderInfo__name {
    margin: 0;
    font-size: var(--size-h3);
  }
  .founderInfo__jobTitle {
    color: var(--color-lichen);
    margin: 0;
  }
  .signoff {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .signoff__text {
    max-width: calc(9 * var(--spacing-col));
  }
  .signoff__text :last-child {
    margin-bottom: 0;
  }
  .signoff__button {
    margin-bottom: .33em;
  }
  .founder:first-child .expandableContent_text {
    padding-right: var(--spacing-col);
  }
  .expandableContent_text{
    overflow: hidden;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .expandableContent_buttons {
    display: flex;
    gap: 1em;

    & :global( > span > a),
    & .expandableContent_toggle {
      line-height: 1.15;
    }
  }
  .expandableContent_toggle {
    font-family: var(--font-aeonik);
    font-size: var(--size-body);
    font-weight: 400;
    border-radius: 0.4vw;
    border: none;
    padding: .8em 1.15em;
    text-decoration: none;
    display: inline-block;
    margin: 1em 0;
    background-color: var(--color-lichen);
    color: transparent;
    transition: background-color 0.3s ease;
    position: relative;
    cursor: pointer;

    &:hover {
      background-color: var(--color-mineral-white);
    }

    &:after {
      position: absolute;
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='35' height='35' fill='none' viewBox='0 0 35 35'%3E%3Cpath stroke='%2300394C' stroke-width='3.6' d='M17.286 34.538v-12.68a4.32 4.32 0 0 1 4.32-4.32h12.68M17.286.538v12.68a4.32 4.32 0 0 1-4.32 4.32H.286'/%3E%3C/svg%3E");
      width: 35px;
      height: 35px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    &.expandableContent_toggle__expanded {
      background-color: var(--color-mineral-white);

      &:after {
        content: url("data:image/svg+xml,%3Csvg width='35' height='35' viewBox='0 0 35 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M29.2617 17.5H17.5419H5.73793' stroke='%2300394C' stroke-width='2.5'/%3E%3C/svg%3E%0A");;
        color: black;
        font-size: 35px;
      }
    }
  }
  .expandableContent_cta {
    transform: translateX(0);
    max-width: 100%;
    overflow: hidden;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);

    & :global( a ) {
      text-wrap: nowrap;
    }
  }
  .expandableContent_cta__hidden {
    transform: translateX(0%);
    max-width: 0%;
  }
}